<app-navbar-banner></app-navbar-banner>
<nav class="sticky top-0 z-[999] w-full bg-[#fafaf2] py-8 shadow-md">
  <!-- Container for centering content with max width -->
  <div
    class="mx-auto flex w-full max-w-8xl items-center justify-between lg:px-10 2xl:px-0"
  >
    <!-- Hamburger Menu (visible on mobile, md, and lg) -->
    <div class="ml-3 flex lg:hidden">
      <button
        class="text-2xl"
        aria-label="Toggle menu"
        (click)="toggleMobileMenu()"
      >
        <i
          class="ri-menu-line"
          [ngClass]="{
            'ri-close-line': isMobileMenuOpen(),
            'ri-menu-line': !isMobileMenuOpen(),
          }"
        ></i>
      </button>
    </div>

    <!-- Logo (visible in mobile and up to lg) -->
    <div class="mr-5 flex flex-1 justify-end gap-2 lg:order-first lg:flex-none">
      <a routerLink="/" (click)="closeMobileMenu()">
        <img
          src="/assets/images/settings/logo-berry.png"
          alt="Logo"
          class="mr-5 h-12 w-auto lg:mr-0 lg:h-14"
        />
      </a>

      <!-- Mobile icons (only visible below xl) -->
      <div class="flex items-center gap-2 text-xl lg:hidden">
        <i class="ri-scissors-line cursor-pointer" (click)="toggleGocare()"></i>
        <i class="ri-search-line cursor-pointer"></i>
        <i class="ri-heart-line cursor-pointer"></i>
        <i class="ri-shopping-cart-line cursor-pointer"></i>
        <i class="ri-user-line cursor-pointer" (click)="showDialog()"></i>
      </div>
    </div>

    <!-- Desktop Navigation (visible only on xl and up) -->
    <div class="hidden flex-1 items-center justify-end gap-6 lg:flex">
      <div>
        <ul
          class="flex gap-6 font-semibold tracking-wide lg:text-sm xl:text-[1rem]"
        >
          <li class="flex items-center gap-1 hover:text-hover-color">
            <a routerLink="/" routerLinkActive="text-blue-600">Home</a>
          </li>
          <li class="flex items-center gap-1 hover:text-hover-color">
            <a routerLink="/collection" routerLinkActive="text-blue-600"
              >Collection</a
            >
            <i class="ri-arrow-down-s-line text-sm"></i>
          </li>
          <li class="flex items-center gap-1 hover:text-hover-color">
            <a
              routerLink="/product-details/1/2"
              routerLinkActive="text-blue-600"
              >Product</a
            >
            <i class="ri-arrow-down-s-line text-sm"></i>
          </li>
          <li class="flex items-center gap-1 hover:text-hover-color">
            <a routerLink="/mega-menu" routerLinkActive="text-blue-600"
              >Mega Menu</a
            >
            <i class="ri-arrow-down-s-line text-sm"></i>
          </li>
          <li class="flex items-center gap-1 hover:text-hover-color">
            <a routerLink="/blogs" routerLinkActive="text-blue-600">Blogs</a>
            <i class="ri-arrow-down-s-line text-sm"></i>
          </li>
          <li class="flex items-center gap-1 hover:text-hover-color">
            <a routerLink="/pages" routerLinkActive="text-blue-600">Pages</a>
            <i class="ri-arrow-down-s-line text-sm"></i>
          </li>
          <li class="flex items-center gap-1 hover:text-hover-color">
            <a routerLink="/seller" routerLinkActive="text-blue-600">Seller</a>
            <i class="ri-arrow-down-s-line text-sm"></i>
          </li>
        </ul>
      </div>

      <!-- Icons (desktop) -->
      <div class="flex items-center gap-4 text-xl xl:text-2xl">
        <i class="ri-scissors-line cursor-pointer" (click)="toggleGocare()"></i>
        <i class="ri-search-line cursor-pointer"></i>
        <i class="ri-heart-line cursor-pointer"></i>
        <i class="ri-shopping-cart-line cursor-pointer"></i>
        @if (currentUser) {
          <i class="ri-logout-box-line cursor-pointer" (click)="logout()"></i>
        } @else {
          <i class="ri-user-line cursor-pointer" (click)="showDialog()"></i>
        }
      </div>
    </div>
  </div>

  <!-- Mobile Sliding Menu -->
  <div
    *ngIf="isMobileMenuOpen()"
    class="mobile-menu fixed left-0 top-0 z-30 h-full w-3/4 bg-white shadow-lg transition-all duration-500 ease-out"
    [ngClass]="{
      'translate-x-0 transition-all duration-300': isMobileMenuOpen(),
      '-translate-x-full': !isMobileMenuOpen(),
    }"
  >
    <div class="flex flex-col px-6 py-8">
      <!-- Close Button (X) for mobile menu -->
      <button
        class="absolute right-4 top-4 text-2xl text-black"
        (click)="closeMobileMenu()"
      >
        <i class="ri-close-line"></i>
      </button>

      <!-- Logo at the top of the sliding menu -->
      <a routerLink="/" (click)="closeMobileMenu()" class="mb-6">
        <img
          src="/assets/images/settings/logo-berry.png"
          alt="Logo"
          class="h-12 w-auto"
        />
      </a>

      <!-- Links on the left side -->
      <a routerLink="/" (click)="closeMobileMenu()" class="py-4 text-left"
        >Home</a
      >
      <a
        routerLink="/collection"
        (click)="closeMobileMenu()"
        class="py-4 text-left"
        >Collection</a
      >
      <a
        routerLink="/product-details"
        (click)="closeMobileMenu()"
        class="py-4 text-left"
        >Product</a
      >
      <a
        routerLink="/mega-menu"
        (click)="closeMobileMenu()"
        class="py-4 text-left"
        >Mega Menu</a
      >
      <a routerLink="/blogs" (click)="closeMobileMenu()" class="py-4 text-left"
        >Blogs</a
      >
      <a routerLink="/pages" (click)="closeMobileMenu()" class="py-4 text-left"
        >Pages</a
      >
      <a routerLink="/seller" (click)="closeMobileMenu()" class="py-4 text-left"
        >Seller</a
      >
    </div>
  </div>
</nav>

<app-auth-modal
  [(visible)]="visible"
  (visibleChange)="onVisibleChange($event)"
></app-auth-modal>
