<div *ngIf="isLoadingCategories">
  <app-loading></app-loading>
</div>

<section id="categories-section"
  *ngIf="!isLoadingCategories && categories.length"
  class="categories-section py-16"
>
  <div class="container mx-auto max-w-8xl px-4">
    <h2
      class="relative z-10 mb-12 inline-block text-2xl font-extrabold lg:text-4xl"
    >
      {{ "categories.shopByCategory" | translate }}
      <div class="absolute -bottom-1 left-0 h-2 w-full bg-hover-color"></div>
    </h2>
    <div class="grid grid-cols-2 gap-8 md:grid-cols-3 lg:grid-cols-5">
      <div
        *ngFor="let category of categories; let i = index"
        class="flex cursor-pointer flex-col items-center"
        (click)="navigateToCategory(category)"
      >
        <div class="category-image-container mb-4">
          <img
            [src]="getFullImageUrl(category.imageUrl)"
            [alt]="getCategoryName(category)"
            class="h-40 w-40 rounded-full border-transparent object-cover transition-all duration-300 hover:ring-4 hover:ring-hover-color"
          />
        </div>
        <h3 class="text-center text-lg font-medium uppercase">
          {{ getCategoryName(category) }}
        </h3>
      </div>
    </div>
  </div>
</section>
