<div *ngIf="productDetails">
  <div class="flex items-center">
    <img src="assets/images/trending.gif" class="inline h-8 w-8" />
    <span>{{ "product-info.trending" | translate }}</span>
  </div>
  <h2
    *ngIf="productDetails?.productName"
    class="my-4 flex items-center justify-center text-2xl font-bold text-gray-900 md:justify-start md:text-left"
  >
    {{
      languageService.getCurrentLanguage() === "ar"
        ? productDetails.productName.ar
        : productDetails.productName.en
    }}
  </h2>

  <p
    class="mb-2 flex items-center justify-center text-lg font-medium md:justify-start"
  >
    {{
      languageService.getCurrentLanguage() === "ar"
        ? productDetails.brandName.ar
        : productDetails.brandName.en
    }}
    |
    {{
      languageService.getCurrentLanguage() === "ar"
        ? productDetails.category.name.ar
        : productDetails.category.name.en
    }}
  </p>

  <div class="flex items-center justify-center md:justify-start">
    <ng-container *ngFor="let star of [1, 2, 3, 4, 5]; let i = index">
      <i
        [ngClass]="{
          'ri-star-fill text-yellow-400': i < 3,
          'ri-star-line text-gray-400': i >= 3,
        }"
      ></i>
    </ng-container>
    <span class="mx-2">|</span>
    <span class="text-sm font-semibold text-gray-600">
      {{ productDetails.productVariants[0].rating }}
      {{ "product-info.ratings" | translate }}
    </span>
  </div>

  <div class="mt-4 flex items-center justify-center gap-2 md:justify-start">
    <span class="font-semibold uppercase text-gray-600"
      >{{ "product-info.price" | translate }}:
    </span>
    <span
      *ngIf="
        productDetails.productVariants[0].priceAfterDiscount !==
        productDetails.productVariants[0].priceBeforeDiscount
      "
      class="text-xl font-semibold text-hover-color"
    >
      {{
        languageService.getCurrentLanguage() === "ar"
          ? productDetails.productVariants[0].currency.name.ar
          : productDetails.productVariants[0].currency.name.en
      }}
      {{ productDetails.productVariants[0].priceAfterDiscount.toFixed(2) }}
      <span class="text-sm text-gray-400 line-through">
        {{
          languageService.getCurrentLanguage() === "ar"
            ? productDetails.productVariants[0].currency.name.ar
            : productDetails.productVariants[0].currency.name.en
        }}
        {{ productDetails.productVariants[0].priceBeforeDiscount.toFixed(2) }}
      </span>
    </span>
    <span
      *ngIf="
        productDetails.productVariants[0].priceAfterDiscount ===
        productDetails.productVariants[0].priceBeforeDiscount
      "
      class="text-xl font-semibold text-hover-color"
    >
      {{
        languageService.getCurrentLanguage() === "ar"
          ? productDetails.productVariants[0].currency.name.ar
          : productDetails.productVariants[0].currency.name.en
      }}
      {{ productDetails.productVariants[0].priceAfterDiscount.toFixed(2) }}
    </span>
  </div>

  <div
    class="mt-4 text-sm text-gray-700"
    [innerHTML]="
      languageService.getCurrentLanguage() === 'ar'
        ? productDetails.description.ar
        : productDetails.description.en
    "
  ></div>

  <div *ngIf="productDetails.hasVariant" class="mt-6 flex items-center gap-4">
    <ng-container *ngFor="let variant of productDetails.productVariants">
      <span>{{
        languageService.getCurrentLanguage() === "ar"
          ? variant.variantName.ar
          : variant.variantName.en
      }}</span>
    </ng-container>
  </div>

  <div class="mt-4">
    <p class="text-lg font-semibold text-gray-800">
      {{ "product-info.totalPrice" | translate }}:
      <span class="text-hover-color">
        {{
          languageService.getCurrentLanguage() === "ar"
            ? productDetails.productVariants[0].currency.name.ar
            : productDetails.productVariants[0].currency.name.en
        }}
        {{ totalPrice.toFixed(2) }}</span
      >
    </p>
  </div>

  <div
    class="mt-5 inline-flex items-center justify-between rounded bg-gray-100 p-2"
  >
    <i
      *ngIf="languageService.getCurrentLanguage() === 'ar'"
      class="ri-arrow-right-s-line cursor-pointer rounded bg-white p-1 text-lg font-bold text-black"
      (click)="decreaseCounter()"
    ></i>

    <i
      *ngIf="languageService.getCurrentLanguage() !== 'ar'"
      class="ri-arrow-left-s-line cursor-pointer rounded bg-white p-1 text-lg font-bold text-black"
      (click)="decreaseCounter()"
    ></i>
    <span class="mx-10 font-bold text-black">{{ counter }}</span>
    <i
      *ngIf="languageService.getCurrentLanguage() === 'ar'"
      class="ri-arrow-left-s-line cursor-pointer rounded bg-white p-1 text-lg font-bold text-black"
      (click)="increaseCounter()"
    ></i>
    <i
      *ngIf="languageService.getCurrentLanguage() !== 'ar'"
      class="ri-arrow-right-s-line cursor-pointer rounded bg-white p-1 text-lg font-bold text-black"
      (click)="increaseCounter()"
    ></i>
  </div>

  <div class="mt-6 flex gap-4">
    <button
      (click)="addToCart(productDetails)"
      class="bg-hover-color px-4 py-4 font-semibold text-white hover:bg-pink-800 lg:px-6"
    >
      <i class="ri-shopping-cart-line mr-2 cursor-pointer text-xl"></i>
      {{ "product-info.addToCart" | translate }}
    </button>
  </div>

  <div
    class="my-5 flex gap-7 text-xs font-semibold lg:text-base"
    [ngClass]="{
      'text-hover-color': isInWishlist,
      'text-[#646464]': !isInWishlist,
    }"
  >
    <div (click)="toggleWishlist()" class="cursor-pointer">
      <i class="ri-heart-fill mr-2 text-lg"></i>
      <span>{{ "product-info.addToWishlist" | translate }}</span>
    </div>
  </div>

  <div class="my-4 border-t-2 border-dotted border-gray-400"></div>

  <div>
    <h3 class="mb-5 text-2xl font-semibold">
      {{ "product-info.productInfoTitle" | translate }}
    </h3>
    <ul class="grid grid-cols-2 gap-2 text-base text-[#646464]">
      <li>{{ "product-info.sku" | translate }}: EG0102MFF05</li>
      <li>
        {{ "product-info.unit" | translate }}:
        {{ "product-info.piece" | translate }}
      </li>
      <li>
        {{ "product-info.quantity" | translate }}:
        {{ "product-info.itemsLeft" | translate: { count: 10 } }}
      </li>
      <li>{{ "product-info.weight" | translate }}: 0.5Gms</li>
    </ul>
  </div>

  <div class="my-4 border-t-2 border-dotted border-gray-400"></div>

  <div>
    <h3 class="my-5 text-2xl font-semibold">
      {{ "product-info.deliveryDetailsTitle" | translate }}
    </h3>
    <div class="flex flex-col text-base text-[#646464]">
      <div class="flex items-center">
        <i class="ri-truck-line mr-2"></i>
        <span>{{ "product-info.deliveryTime" | translate }}</span>
      </div>
      <div>
        <i class="ri-arrow-left-right-line mr-2"></i>
        <span>{{ "product-info.returnPolicy" | translate }}</span>
      </div>
    </div>
  </div>
</div>
