<div *ngIf="isLoading">
  <app-loading></app-loading>
</div>

<div *ngIf="!isLoading" class="p-6 overflow-x-hidden">
  <app-breadcrumb></app-breadcrumb>
  <section class="max-w-8xl mx-auto grid grid-cols-1 md:grid-cols-2 gap-8">
    <!-- Left: Image Gallery -->
    <app-product-image-gallery
      [productDetails]="productDetails"
    ></app-product-image-gallery>

    <!-- Right: Product Info -->
    <app-product-info [productDetails]="productDetails"></app-product-info>
  </section>
  <app-product-info-tabs></app-product-info-tabs>
</div>
