<div *ngIf="isLoading">
  <app-loading></app-loading>
</div>

<div *ngIf="!isLoading" class="p-6 lg:overflow-x-clip">
  <app-breadcrumb [name]="getLocalizedProductName()"></app-breadcrumb>
  <section class="mx-auto grid max-w-8xl grid-cols-1 gap-8 md:grid-cols-2">
    <!-- Left: Image Gallery -->
    <app-product-image-gallery
      [productDetails]="productDetails"
      [selectedVariant]="selectedVariant"
    ></app-product-image-gallery>

    <!-- Right: Product Info -->
    <app-product-info
      [productDetails]="productDetails"
      (variantSelected)="onVariantSelected($event)"
    ></app-product-info>
  </section>
  <app-product-info-tabs></app-product-info-tabs>
</div>
