<div class="text-black">
  <div class="flex flex-col items-center gap-5">
    <h2 class="text-center text-2xl font-semibold">Sign Up</h2>
    <p class="max-w-lg text-center text-gray-500">
      dive back into your world with a simple sign-in. your next adventure
      awaits - let's get started!
    </p>
  </div>

  <form class="flex flex-col gap-3">
    <label class="mt-5 text-lg">First Name</label>
    <input
      placeholder="John"
      class="w-full border border-gray-300 bg-white p-2 text-base focus:outline-none focus:ring-2 focus:ring-blue-500"
    />
    <label class="text-lg">Last Name</label>
    <input
      placeholder="Doe"
      class="w-full border border-gray-300 bg-white p-2 text-base focus:outline-none focus:ring-2 focus:ring-blue-500"
    />
    <label class="text-lg">Email or Phone</label>
    <input
      placeholder="johndoe@gmail.com"
      class="w-full border border-gray-300 bg-white p-2 text-base focus:outline-none focus:ring-2 focus:ring-blue-500"
    />

    <label class="text-lg">Gender</label>
    <div class="mt-1 flex items-center gap-6">
      <div class="flex items-center gap-2">
        <p-radioButton
          name="gender"
          value="2"
          inputId="gender-women"
          [(ngModel)]="selectedGender"
        ></p-radioButton>
        <label for="gender-women" class="text-base">Women</label>
      </div>

      <div class="flex items-center gap-2">
        <p-radioButton
          name="gender"
          value="1"
          inputId="gender-men"
          [(ngModel)]="selectedGender"
        ></p-radioButton>
        <label for="gender-men" class="text-base">Men</label>
      </div>
    </div>
    <label class="text-lg">Password</label>
    <input
      placeholder="Password"
      class="w-full border border-gray-300 bg-white p-2 text-base focus:outline-none focus:ring-2 focus:ring-blue-500"
    />

    <button
      type="submit"
      label="Login"
      class="w-full border border-gray-300 bg-hover-color p-2 text-base font-bold uppercase text-white focus:outline-none focus:ring-2"
    >
      Sign up
    </button>
  </form>
  <div class="my-4 flex items-center">
    <div class="flex-grow border-t border-gray-300"></div>
    <span class="mx-2 text-gray-500">OR</span>
    <div class="flex-grow border-t border-gray-300"></div>
  </div>

  <p class="text-center text-sm">
    Don't have an account?
    <a (click)="toggle.emit()" class="cursor-pointer text-blue-500"
      >Register Now</a
    >
  </p>

  <button
    type="submit"
    label="Login"
    class="mt-5 w-full border border-hover-color bg-transparent p-2 text-base text-hover-color focus:outline-none focus:ring-2"
  >
    <i class="ri-smartphone-line mr-2"></i>
    <span>Login with Mobile Number</span>
  </button>
</div>
