<div
  class="product-card flex h-full cursor-pointer flex-col border border-gray-200 bg-white shadow-md transition-shadow duration-300 hover:shadow-lg"
>
  <!-- Image container with relative positioning -->
  <div class="relative h-64 w-full">
    <div class="absolute bottom-2 left-2 z-10 bg-gray-100 px-2 py-1 shadow">
      <span class="flex items-center font-medium">
        <i class="ri-star-fill mr-1 text-sm text-yellow-400"></i>
        {{ product.rating.toFixed(1) }}
      </span>
    </div>

    <img
      [src]="getFullImageUrl(product.mainImageUrl)"
      [alt]="product.name"
      class="absolute inset-0 h-full w-full object-contain"
      (click)="navigateToProductDetails(product.productId, product.variantId)"
    />

    <div class="icon-wrapper absolute right-2 top-2 z-10">
      <i
        class="ri-heart-line relative z-20 rounded-full bg-white p-1 text-xl text-hover-color shadow"
      ></i>

      <i
        class="ri-shopping-cart-line extra-icon-1 absolute left-0 rounded-full bg-white p-1 text-xl text-hover-color shadow"
        (click)="addToCart(product)"
      ></i>
      <i
        class="ri-search-line extra-icon-2 absolute left-0 rounded-full bg-white p-1 text-xl text-hover-color shadow"
      ></i>
    </div>
  </div>

  <!-- Product details -->
  <div
    class="flex flex-grow flex-col p-4"
    (click)="navigateToProductDetails(product.productId, product.variantId)"
  >
    <h3 class="line-clamp-1 text-lg font-medium">{{ product.name.en }}</h3>
    <p class="text-sm text-special-gray">{{ product.brand.en }}</p>
    <div class="mb-4 mt-2 text-base font-bold text-black">
      <p *ngIf="product.priceBeforeDiscount === product.priceAfterDiscount">
        {{ product.priceBeforeDiscount | currency: "USD" }}
      </p>
      <p *ngIf="product.priceBeforeDiscount !== product.priceAfterDiscount">
        {{ product.priceAfterDiscount | currency: "USD" }}
        <span class="text-sm text-gray-400 line-through">{{
          product.priceBeforeDiscount | currency: "USD"
        }}</span>
        <span class="text-hover-color">
          {{ product.discountPercentage.toFixed(0) }}% off</span
        >
      </p>
    </div>
  </div>
  <div
    class="mt-auto overflow-hidden border-t-2 border-red-500 p-2"
    (click)="navigateToProductDetails(product.productId, product.variantId)"
  >
    <div class="limited-time-wrapper flex gap-8 whitespace-nowrap">
      <div class="limited-time-item flex items-center gap-2">
        <i class="ri-discount-percent-fill text-hover-color"></i>
        <span
          >Limited Time Offer : {{ product.discountPercentage.toFixed(0) }}%
          off</span
        >
      </div>
      <div class="limited-time-item flex items-center gap-2">
        <i class="ri-discount-percent-fill text-hover-color"></i>
        <span
          >Limited Time Offer : {{ product.discountPercentage.toFixed(0) }}%
          off</span
        >
      </div>
      <div class="limited-time-item flex items-center gap-2">
        <i class="ri-discount-percent-fill text-hover-color"></i>
        <span
          >Limited Time Offer : {{ product.discountPercentage.toFixed(0) }}%
          off</span
        >
      </div>
      <div class="limited-time-item flex items-center gap-2">
        <i class="ri-discount-percent-fill text-hover-color"></i>
        <span
          >Limited Time Offer : {{ product.discountPercentage.toFixed(0) }}%
          off</span
        >
      </div>
    </div>
  </div>
</div>

<style>
  /* Default styles for mobile and tablet */
  .extra-icon-1,
  .extra-icon-2 {
    opacity: 1;
    transform: translateY(40px);
  }

  .extra-icon-2 {
    transform: translateY(80px);
  }

  .limited-time-wrapper {
    animation: slide-left 5s linear infinite;
  }

  /* Hover effects for lg screens and up */
  @media (min-width: 1024px) {
    .extra-icon-1,
    .extra-icon-2 {
      opacity: 0;
      transform: translateY(0);
    }

    .product-card:hover .extra-icon-1 {
      opacity: 1;
      transform: translateY(40px);
    }

    .product-card:hover .extra-icon-2 {
      opacity: 1;
      transform: translateY(80px);
    }

    .limited-time-wrapper {
      animation: none;
    }

    .product-card:hover .limited-time-wrapper {
      animation: slide-left 5s linear infinite;
    }
  }

  .extra-icon-1,
  .extra-icon-2 {
    transition: all 0.5s ease;
  }

  @keyframes slide-left {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
</style>
