<div
  class="product-card flex h-full cursor-pointer flex-col border border-gray-200 bg-white shadow-md transition-shadow duration-300 hover:shadow-lg"
  [attr.data-lang]="currentLang"
>
  <!-- Image container with relative positioning -->
  <div class="relative h-64 w-full">
    <div
      *ngIf="product.stockCount === 0"
      class="absolute inset-0 z-20 flex items-center justify-center bg-white/80 text-2xl font-bold text-red-500"
      style="backdrop-filter: blur(2px)"
    >
      {{ "product-card.soldOut" | translate }}
    </div>
    <div
      *ngIf="product.rating !== 0 && product.stockCount > 0"
      class="absolute bottom-2 left-2 z-10 bg-gray-100 px-2 py-1 shadow"
    >
      <span class="flex items-center font-medium">
        <i class="ri-star-fill mr-1 text-sm text-yellow-400"></i>
        {{ product.rating.toFixed(1) }}
      </span>
    </div>

    <img
      [src]="getFullImageUrl(product.mainImageUrl)"
      [alt]="getLocalizedText(product.name)"
      class="absolute inset-0 h-full w-full object-contain"
      (click)="navigateToProductDetails(product.productId, product.variantId)"
      [id]="'product-card-image-' + product.productId"
    />

    <div class="icon-wrapper absolute right-4 top-2 z-10">
      <i
        [class]="
          isInWishlist ? 'ri-heart-fill text-hover-color' : 'ri-heart-line'
        "
        class="relative z-20 rounded-full bg-white p-1 text-xl text-hover-color shadow"
        (click)="toggleWishlist($event)"
        [id]="'product-card-wishlist-button-' + product.productId"
      ></i>

      <i
        class="ri-shopping-cart-line extra-icon-1 absolute left-0 rounded-full bg-white p-1 text-xl text-hover-color shadow"
        (click)="
          product.stockCount > 0 && addToCart(product); $event.stopPropagation()
        "
        [class.opacity-50]="product.stockCount === 0"
        [class.cursor-not-allowed]="product.stockCount === 0"
        [id]="'product-card-add-to-cart-button-' + product.productId"
      ></i>
      <i
        (click)="openQuickView(); $event.stopPropagation()"
        class="ri-search-line extra-icon-2 absolute left-0 rounded-full bg-white p-1 text-xl text-hover-color shadow"
        [id]="'product-card-quick-view-button-' + product.productId"
      ></i>
    </div>
  </div>

  <!-- Product details -->
  <div
    class="flex flex-grow flex-col p-4"
    (click)="navigateToProductDetails(product.productId, product.variantId)"
    [id]="'product-card-details-link-' + product.productId"
  >
    <h3 class="line-clamp-1 text-lg font-medium">
      {{ getLocalizedText(product.name) }}
    </h3>
    <p class="text-sm text-special-gray">
      {{ getLocalizedText(product.brand) }}
    </p>
    <div class="mb-4 mt-2 text-base font-bold text-black">
      <p *ngIf="product.priceBeforeDiscount === product.priceAfterDiscount">
        {{ getLocalizedText(product.currency.name) }}
        {{ product.priceBeforeDiscount }}
      </p>
      <p *ngIf="product.priceBeforeDiscount !== product.priceAfterDiscount">
        {{ getLocalizedText(product.currency.name) }}
        {{ product.priceAfterDiscount }}
        <span class="text-sm text-gray-400 line-through">
          {{ getLocalizedText(product.currency.name) }}
          {{ product.priceBeforeDiscount }}</span
        >
        <span class="text-hover-color">
          {{ product.discountPercentage.toFixed(0) }}%
          {{ "product-card.off" | translate }}</span
        >
      </p>
    </div>

    <!-- Stock Information -->
    <div class="flex items-center justify-between">
      <div class="mb-2">
        <p
          class="text-sm"
          [ngClass]="{
            'text-red-500': product.stockCount === 0 || product.lowQuantity,
            'text-green-500': product.stockCount > 0 && !product.lowQuantity,
            'text-gray-500': product.stockCount === 0,
          }"
        >
          <i class="ri-stock-line mr-1"></i>
          <span *ngIf="product.stockCount === 0">
            {{ "product-card.soldOut" | translate }}
          </span>
          <span *ngIf="product.stockCount > 0">
            {{ "product-card.stock" | translate }}: {{ product.stockCount }}
            <span *ngIf="product.lowQuantity" class="ml-2">
              ({{ "product-card.lowStock" | translate }})
            </span>
          </span>
        </p>
      </div>

      <div>
        <!-- Variants -->
        <div class="mb-2">
          <!-- Color Variants -->
          <div
            *ngIf="
              product.productVariants[0]?.variantType?.name?.en === 'Color'
            "
            class="flex flex-wrap gap-2"
          >
            <div
              *ngFor="let variant of product.productVariants"
              class="h-6 w-6 cursor-pointer rounded-full border border-gray-300"
              [style]="'background-color: ' + variant.variantTypeSettings"
              [class.ring-2]="variant.isSelected"
              [class.ring-hover-color]="variant.isSelected"
              [title]="getLocalizedText(variant.variantName)"
            ></div>
          </div>

          <!-- Size Variants -->
          <div
            *ngIf="product.productVariants[0]?.variantType?.name?.en === 'Size'"
            class="flex flex-wrap gap-2"
            (click)="$event.stopPropagation()"
          >
            <select
              class="rounded border border-gray-300 bg-white px-3 py-1 text-sm hover:border-hover-color"
              [(ngModel)]="selectedVariant"
              (ngModelChange)="selectVariant($event)"
              (click)="$event.stopPropagation()"
            >
              <option [ngValue]="null">Select Size</option>
              <option
                *ngFor="let variant of product.productVariants"
                [ngValue]="variant"
              >
                {{ variant.variantTypeSettings }}
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div
      class="mt-auto overflow-hidden border-t-2 border-hover-color p-2"
      (click)="navigateToProductDetails(product.productId, product.variantId)"
      [id]="'product-card-details-link-' + product.productId"
    >
      <div class="stock-ticker">
        <ul>
          <li class="limited-time-item" *ngIf="product.discountPercentage > 0">
            <i class="ri-discount-percent-fill text-hover-color"></i>
            <span
              >{{ "product-card.limitedTimeOffer" | translate }} :
              {{ product.discountPercentage.toFixed(0) }}%
              {{ "product-card.off" | translate }}</span
            >
          </li>
          <li class="limited-time-item" *ngIf="product.discountPercentage > 0">
            <i class="ri-discount-percent-fill text-hover-color"></i>
            <span
              >{{ "product-card.limitedTimeOffer" | translate }} :
              {{ product.discountPercentage.toFixed(0) }}%
              {{ "product-card.off" | translate }}</span
            >
          </li>
          <li class="limited-time-item" *ngIf="product.discountPercentage > 0">
            <i class="ri-discount-percent-fill text-hover-color"></i>
            <span
              >{{ "product-card.limitedTimeOffer" | translate }} :
              {{ product.discountPercentage.toFixed(0) }}%
              {{ "product-card.off" | translate }}</span
            >
          </li>
          <li class="limited-time-item" *ngIf="product.discountPercentage > 0">
            <i class="ri-discount-percent-fill text-hover-color"></i>
            <span
              >{{ "product-card.limitedTimeOffer" | translate }} :
              {{ product.discountPercentage.toFixed(0) }}%
              {{ "product-card.off" | translate }}</span
            >
          </li>
        </ul>
        <ul aria-hidden="true">
          <li class="limited-time-item" *ngIf="product.discountPercentage > 0">
            <i class="ri-discount-percent-fill text-hover-color"></i>
            <span
              >{{ "product-card.limitedTimeOffer" | translate }} :
              {{ product.discountPercentage.toFixed(0) }}%
              {{ "product-card.off" | translate }}</span
            >
          </li>
          <li class="limited-time-item" *ngIf="product.discountPercentage > 0">
            <i class="ri-discount-percent-fill text-hover-color"></i>
            <span
              >{{ "product-card.limitedTimeOffer" | translate }} :
              {{ product.discountPercentage.toFixed(0) }}%
              {{ "product-card.off" | translate }}</span
            >
          </li>
          <li class="limited-time-item" *ngIf="product.discountPercentage > 0">
            <i class="ri-discount-percent-fill text-hover-color"></i>
            <span
              >{{ "product-card.limitedTimeOffer" | translate }} :
              {{ product.discountPercentage.toFixed(0) }}%
              {{ "product-card.off" | translate }}</span
            >
          </li>
          <li class="limited-time-item h-[42px]">
            <i
              class="ri-discount-percent-fill"
              *ngIf="product.discountPercentage > 0"
            ></i>
            <span *ngIf="product.discountPercentage > 0"
              >{{ "product-card.limitedTimeOffer" | translate }} :
              {{ product.discountPercentage.toFixed(0) }}%
              {{ "product-card.off" | translate }}</span
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <app-quick-product-view-modal
    [isOpen]="isQuickViewOpen"
    [productId]="product.productId"
    [variantId]="product.variantId"
    (closeModal)="closeQuickView()"
  ></app-quick-product-view-modal>
  <p-toast position="top-left" styleClass="black-text-toast"></p-toast>

  <style>
    /* Default styles for mobile and tablet */
    .extra-icon-1,
    .extra-icon-2 {
      opacity: 1;
      transform: translateY(40px);
    }

    .extra-icon-2 {
      transform: translateY(80px);
    }

    /* Hover effects for lg screens and up */
    @media (min-width: 1024px) {
      .extra-icon-1,
      .extra-icon-2 {
        opacity: 0;
        transform: translateY(0);
      }

      .product-card:hover .extra-icon-1 {
        opacity: 1;
        transform: translateY(40px);
      }

      .product-card:hover .extra-icon-2 {
        opacity: 1;
        transform: translateY(80px);
      }
    }

    .extra-icon-1,
    .extra-icon-2 {
      transition: all 0.5s ease;
    }
  </style>
</div>
