<div
  class="fixed bottom-0 left-0 z-30 w-full border-gray-200 bg-white shadow-lg md:hidden"
>
  <div class="flex items-center justify-between px-4 py-3 text-2xl">
    <a
      routerLink="/"
      id="bottom-mobile-navigation-home-link"
      class="flex flex-col items-center text-center"
      routerLinkActive="text-hover-color"
      [routerLinkActiveOptions]="{ exact: true }"
    >
      <i class="ri-home-4-line"></i>
      <span class="mt-1 text-sm">Home</span>
    </a>

    <a
      id="bottom-mobile-navigation-search-link"
      class="flex cursor-pointer flex-col items-center text-center"
      (click)="toggleSearch()"
    >
      <i class="ri-search-line"></i>
      <span class="mt-1 text-sm">Search</span>
    </a>

    <a
      routerLink="/cart"
      id="bottom-mobile-navigation-cart-link"
      class="flex flex-col items-center text-center"
      routerLinkActive="text-hover-color"
    >
      <div class="relative">
        <i class="ri-shopping-cart-line"></i>
        <span
          *ngIf="cartCount > 0"
          class="absolute -right-2 -top-2 flex h-4 w-4 items-center justify-center rounded-full bg-hover-color text-sm text-white"
        >
          {{ cartCount }}
        </span>
      </div>
      <span class="mt-1 text-sm">Cart</span>
    </a>

    <a
      routerLink="/wishlist"
      id="bottom-mobile-navigation-wishlist-link"
      class="flex flex-col items-center text-center"
      routerLinkActive="text-hover-color"
    >
      <div class="relative">
        <i class="ri-heart-line"></i>
        <span
          *ngIf="wishlistCount > 0"
          class="absolute -right-2 -top-2 flex h-4 w-4 items-center justify-center rounded-full bg-hover-color text-sm text-white"
        >
          {{ wishlistCount }}
        </span>
      </div>
      <span class="mt-1 text-sm">Wishlist</span>
    </a>

    <a
      routerLink="/account/dashboard"
      id="bottom-mobile-navigation-user-link"
      class="flex flex-col items-center text-center"
      routerLinkActive="text-hover-color"
    >
      <i class="ri-user-line"></i>
      <span class="mt-1 text-sm">User</span>
    </a>
  </div>
</div>

<!-- Search Panel -->
@if (isSearchOpen) {
  <app-search (closeSearch)="closeSearch()"></app-search>
}
