<div
  *ngIf="isOpen"
  class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50 p-4"
  (click)="onBackdropClick($event)"
>
  <!-- Modal content -->
  <div
    class="relative max-h-[90vh] w-full max-w-4xl overflow-auto rounded-lg bg-white shadow-xl"
  >
    <!-- Close Button (static) -->
    <button
      class="absolute right-4 top-4 z-40 rounded bg-hover-color p-2 text-white"
      aria-label="Close"
      (click)="onClose()"
    >
      X
    </button>

    <!-- Loading State -->
    <div *ngIf="isLoading" class="flex h-[400px] items-center justify-center">
      <app-loading></app-loading>
    </div>

    <!-- Content -->
    <div *ngIf="!isLoading" class="grid grid-cols-1 gap-6 p-6 md:grid-cols-2">
      <!-- Pass productDetails to both components -->
      <app-quick-product-image
        *ngIf="productDetails"
        [productDetails]="productDetails"
      ></app-quick-product-image>

      <app-quick-product-info
        *ngIf="productDetails"
        [productDetails]="productDetails"
      ></app-quick-product-info>
    </div>
  </div>
</div>
