<div *ngIf="isLoadingProducts">
  <app-loading></app-loading>
</div>

<section
  class="everyday-casual-section py-16"
  *ngIf="!isLoadingProducts && products.length"
>
  <div class="container mx-auto max-w-8xl px-4">
    <h2 class="text-center text-4xl font-extrabold">EVERYDAY CASUAL</h2>
    <div class="my-4 flex justify-center">
      <div class="h-1 w-24 bg-hover-color"></div>
    </div>

    <div class="category-tabs mb-8 flex flex-wrap justify-center gap-4">
      <button
        *ngFor="let category of categories"
        class="px-4 py-2 text-lg font-semibold uppercase"
        (click)="onCategoryClick(category.id)"
        [ngClass]="{
          'text-hover-color': category.id === selectedCategory?.id,
        }"
      >
        {{ category.name.en }}
      </button>
    </div>

    <div *ngIf="isCategoryLoading" class="my-8 flex justify-center">
      <app-loading></app-loading>
    </div>

    <div
      *ngIf="!isCategoryLoading"
      class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3"
    >
      @for (product of products; track product.productId) {
        <app-product-card [product]="product"></app-product-card>
      }
    </div>
  </div>
</section>

<style>
  /* Default styles for mobile and tablet */
  .extra-icon-1,
  .extra-icon-2 {
    opacity: 1;
    transform: translateY(40px);
  }

  .extra-icon-2 {
    transform: translateY(80px);
  }

  .limited-time-wrapper {
    animation: slide-left 5s linear infinite;
  }

  /* Hover effects for lg screens and up */
  @media (min-width: 1024px) {
    .extra-icon-1,
    .extra-icon-2 {
      opacity: 0;
      transform: translateY(0);
    }

    .product-card:hover .extra-icon-1 {
      opacity: 1;
      transform: translateY(40px);
    }

    .product-card:hover .extra-icon-2 {
      opacity: 1;
      transform: translateY(80px);
    }

    .limited-time-wrapper {
      animation: none;
    }

    .product-card:hover .limited-time-wrapper {
      animation: slide-left 5s linear infinite;
    }
  }

  .extra-icon-1,
  .extra-icon-2 {
    transition: all 0.5s ease;
  }

  @keyframes slide-left {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
</style>
