<div *ngIf="isLoadingProducts">
  <app-loading></app-loading>
</div>

<section
  class="everyday-casual-section py-16"
  *ngIf="!isLoadingProducts && products.length"
>
  <div class="container mx-auto max-w-8xl px-4">
    <h2 class="text-center text-4xl font-extrabold">EVERYDAY CASUAL</h2>
    <div class="my-4 flex justify-center">
      <div class="h-1 w-24 bg-hover-color"></div>
    </div>

    <div class="category-tabs mb-8 flex flex-wrap justify-center gap-4">
      @for (category of categories; track category) {
        <button class="px-4 py-2 text-lg font-medium uppercase">
          {{ category.name.en }}
        </button>
      }
    </div>

    <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
      @for (product of products; track product.productId) {
        <div
          class="product-card border border-gray-200 bg-white p-4 shadow-md transition-shadow duration-300 hover:shadow-lg"
        >
          <!-- Image container with relative positioning -->
          <div class="relative mb-4 h-64 w-full">
            <img
              [src]="getFullImageUrl(product.mainImageUrl)"
              [alt]="product.name"
              class="h-full w-full rounded-md object-contain"
            />

            <div class="icon-wrapper absolute right-2 top-2 z-10">
              <i
                class="ri-heart-line relative z-20 rounded-full bg-white p-1 text-xl shadow"
              ></i>

              <i
                class="ri-shopping-cart-line extra-icon-1 absolute left-0 rounded-full bg-white p-1 text-xl shadow"
              ></i>
              <i
                class="ri-search-line extra-icon-2 absolute left-0 rounded-full bg-white p-1 text-xl shadow"
              ></i>
            </div>
          </div>

          <!-- Product details -->
          <h3 class="text-lg font-medium">{{ product.name.en }}</h3>
          <p class="text-special-gray text-sm">{{ product.brand.en }}</p>
          <div class="mb-4 mt-2 text-lg font-bold text-black">
            <p
              *ngIf="product.priceBeforeDiscount === product.priceAfterDiscount"
            >
              {{ product.priceBeforeDiscount | currency: "USD" }}
            </p>
            <p
              *ngIf="product.priceBeforeDiscount !== product.priceAfterDiscount"
            >
              {{ product.priceAfterDiscount | currency: "USD" }}
              <span class="text-sm text-gray-400 line-through">{{
                product.priceBeforeDiscount | currency: "USD"
              }}</span>
              <span class="text-hover-color">
                {{ product.discountPercentage.toFixed(2) }}% off</span
              >
            </p>
          </div>
          <div class="overflow-hidden border-t-2 border-red-500 py-2">
            <div class="limited-time-wrapper flex gap-8 whitespace-nowrap">
              <div class="limited-time-item flex items-center gap-2">
                <i class="ri-discount-percent-fill text-hover-color"></i>
                <span
                  >Limited Time Offer :
                  {{ product.discountPercentage.toFixed(2) }}% off</span
                >
              </div>
              <div class="limited-time-item flex items-center gap-2">
                <i class="ri-discount-percent-fill text-hover-color"></i>
                <span
                  >Limited Time Offer :
                  {{ product.discountPercentage.toFixed(2) }}% off</span
                >
              </div>
              <div class="limited-time-item flex items-center gap-2">
                <i class="ri-discount-percent-fill text-hover-color"></i>
                <span
                  >Limited Time Offer :
                  {{ product.discountPercentage.toFixed(2) }}% off</span
                >
              </div>
              <div class="limited-time-item flex items-center gap-2">
                <i class="ri-discount-percent-fill text-hover-color"></i>
                <span
                  >Limited Time Offer :
                  {{ product.discountPercentage.toFixed(2) }}% off</span
                >
              </div>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</section>

<style>
  .product-card:hover .extra-icon-1 {
    opacity: 1;
    transform: translateY(40px);
  }

  .product-card:hover .extra-icon-2 {
    opacity: 1;
    transform: translateY(80px);
  }

  .extra-icon-1,
  .extra-icon-2 {
    transition: all 0.5s ease;
    opacity: 0;
  }

  .product-card:hover .limited-time-wrapper {
    animation: slide-left 5s linear infinite;
  }

  @keyframes slide-left {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
</style>
