<main>
  <app-banner-section></app-banner-section>
  <app-cateogries-section
    [categories]="categories"
    [isLoadingCategories]="isLoadingCategories"
  >
  </app-cateogries-section>
  <app-offers-section></app-offers-section>
  <app-everyday-casual-section
    [categories]="categories"
    [products]="products"
    [isLoadingProducts]="isLoadingProducts"
    (categorySelected)="onCategorySelected($event)"
    [selectedCategory]="selectedCategory"
  ></app-everyday-casual-section>
  <app-brands-image-section></app-brands-image-section>
  <app-instashop-section></app-instashop-section>
</main>
