<section class="insta-shop-section py-16">
  <div class="container mx-auto max-w-8xl px-4">
    <!-- Heading -->
    <h2
      class="relative z-10 mb-12 inline-block text-2xl font-extrabold lg:text-4xl"
    >
      {{ "insta-shop.instaShop" | translate }}
      <div class="absolute bottom-0 left-0 h-2 w-full bg-hover-color"></div>
    </h2>

    <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5">
      @for (post of instaPosts; track post.id) {
        <div class="insta-image-container group relative overflow-hidden">
          <img
            [src]="post.image"
            alt="Instagram post"
            class="aspect-square w-full object-cover"
          />

          <div
            class="absolute inset-0 flex items-center justify-center bg-orange-500 bg-opacity-60 transition-opacity duration-300"
            [ngClass]="{
              'opacity-100': post.id === 3,
              'opacity-0 group-hover:opacity-100': post.id !== 3,
            }"
          >
            <i
              class="ri-instagram-line scale-0 text-4xl text-white transition-transform duration-300 group-hover:scale-100"
              [ngClass]="{
                'rotate-in': post.id === 3,
                'group-hover:rotate-in': post.id !== 3,
              }"
            ></i>
          </div>
        </div>
      }
    </div>
  </div>
</section>
