<div class="rounded-lg bg-white p-6 shadow-sm">
  <!-- Bank Details Section -->
  <h2 class="mb-6 text-xl font-bold text-gray-800">
    {{ "account.bankDetails.title" | translate }}
  </h2>

  <form [formGroup]="bankDetailsForm" class="flex flex-col gap-6">
    <!-- Bank Account Number -->
    <div class="flex items-center gap-4">
      <label for="bankAccountNumber" class="w-1/5 text-gray-600">
        {{ "account.bankDetails.bankAccountNumber" | translate }}
      </label>
      <div class="w-4/5">
        <input
          type="text"
          id="bankAccountNumber"
          formControlName="bankAccountNumber"
          [placeholder]="
            'account.bankDetails.bankAccountNumberPlaceholder' | translate
          "
          class="w-full rounded-md border border-gray-200 bg-white px-4 py-3 focus:outline-none focus:ring-2 focus:ring-hover-color"
        />
      </div>
    </div>

    <!-- Bank Name -->
    <div class="flex items-center gap-4">
      <label for="bankName" class="w-1/5 text-gray-600">
        {{ "account.bankDetails.bankName" | translate }}
      </label>
      <div class="w-4/5">
        <input
          type="text"
          id="bankName"
          formControlName="bankName"
          [placeholder]="'account.bankDetails.bankNamePlaceholder' | translate"
          class="w-full rounded-md border border-gray-200 bg-white px-4 py-3 focus:outline-none focus:ring-2 focus:ring-hover-color"
        />
      </div>
    </div>

    <!-- Holder Name -->
    <div class="flex items-center gap-4">
      <label for="holderName" class="w-1/5 text-gray-600">
        {{ "account.bankDetails.holderName" | translate }}
      </label>
      <div class="w-4/5">
        <input
          type="text"
          id="holderName"
          formControlName="holderName"
          [placeholder]="
            'account.bankDetails.holderNamePlaceholder' | translate
          "
          class="w-full rounded-md border border-gray-200 bg-white px-4 py-3 focus:outline-none focus:ring-2 focus:ring-hover-color"
        />
      </div>
    </div>

    <!-- Swift -->
    <div class="flex items-center gap-4">
      <label for="swift" class="w-1/5 text-gray-600">
        {{ "account.bankDetails.swift" | translate }}
      </label>
      <div class="w-4/5">
        <input
          type="text"
          id="swift"
          formControlName="swift"
          [placeholder]="'account.bankDetails.swiftPlaceholder' | translate"
          class="w-full rounded-md border border-gray-200 bg-white px-4 py-3 focus:outline-none focus:ring-2 focus:ring-hover-color"
        />
      </div>
    </div>

    <!-- IFSC -->
    <div class="flex items-center gap-4">
      <label for="ifsc" class="w-1/5 text-gray-600">
        {{ "account.bankDetails.ifsc" | translate }}
      </label>
      <div class="w-4/5">
        <input
          type="text"
          id="ifsc"
          formControlName="ifsc"
          [placeholder]="'account.bankDetails.ifscPlaceholder' | translate"
          class="w-full rounded-md border border-gray-200 bg-white px-4 py-3 focus:outline-none focus:ring-2 focus:ring-hover-color"
        />
      </div>
    </div>

    <!-- Payment Details Section -->
    <div class="flex flex-col gap-6">
      <h2 class="text-xl font-bold text-gray-800">
        {{ "account.bankDetails.paymentDetails" | translate }}
      </h2>

      <!-- Paypal Email -->
      <div class="flex items-center gap-4">
        <label for="paypalEmail" class="w-1/5 text-gray-600">
          {{ "account.bankDetails.paypalEmail" | translate }}
        </label>
        <div class="w-4/5">
          <input
            type="email"
            id="paypalEmail"
            formControlName="paypalEmail"
            [placeholder]="
              'account.bankDetails.paypalEmailPlaceholder' | translate
            "
            class="w-full rounded-md border border-gray-200 bg-white px-4 py-3 focus:outline-none focus:ring-2 focus:ring-hover-color"
          />
        </div>
      </div>
    </div>

    <!-- Save Button -->
    <div class="flex justify-end">
      <button
        type="submit"
        class="rounded bg-hover-color px-8 py-3 font-medium uppercase tracking-wider text-white transition hover:bg-red-800"
      >
        {{ "account.bankDetails.save" | translate }}
      </button>
    </div>
  </form>
</div>
