<nav class="w-full bg-[#333333]">
  <div class="mx-auto flex max-w-8xl items-center justify-between text-white">
    <div
      class="flex items-center gap-5 p-1 text-xs lg:p-2 lg:text-base xl:gap-8"
    >
      <span class="xl:p-2"
        >{{ "navbar-banner.welcome" | translate }}
        <span class="text-hover-color">{{
          "navbar-banner.title" | translate
        }}</span></span
      >
      <div>
        <i class="ri-phone-fill mr-2 text-hover-color"></i>
        <span
          >{{ "navbar-banner.callUs" | translate }}:
          {{ "navbar-banner.phone" | translate }}</span
        >
      </div>
    </div>
    <div class="flex items-center gap-2 pr-4 lg:pr-6">
      <div class="language-dropdown relative">
        <button
          (click)="toggleLanguageDropdown()"
          class="z-50 flex items-center gap-2 rounded px-3 py-1.5 text-sm transition-colors duration-200 hover:bg-hover-color lg:text-base"
        >
          <img
            [src]="
              getCurrentLanguage() === 'en'
                ? 'assets/images/united-states-icon.svg'
                : 'assets/images/egypt-flag-icon.svg'
            "
            class="h-4 w-4 lg:h-5 lg:w-5"
          />
          <span class="hidden sm:inline">{{
            getCurrentLanguage() === "en" ? "English" : "العربية"
          }}</span>
          <i class="ri-arrow-down-s-line text-sm lg:text-base"></i>
        </button>

        <div
          *ngIf="isLanguageDropdownOpen"
          class="absolute z-50 mt-1 w-36 rounded-md bg-white shadow-lg sm:w-40"
          [ngClass]="{
            'right-0': getCurrentLanguage() === 'en',
            'left-2': getCurrentLanguage() === 'ar',
          }"
        >
          <div class="py-1">
            <button
              (click)="translateLanguage('en')"
              class="flex w-full items-center gap-2 px-3 py-2 text-sm text-gray-700 hover:bg-gray-100"
            >
              <img
                src="assets/images/united-states-icon.svg"
                class="h-4 w-4 lg:h-5 lg:w-5"
              />
              <span>English</span>
            </button>
            <button
              (click)="translateLanguage('ar')"
              class="flex w-full items-center gap-2 px-3 py-2 text-sm text-gray-700 hover:bg-gray-100"
            >
              <img
                src="assets/images/egypt-flag-icon.svg"
                class="h-4 w-4 lg:h-5 lg:w-5"
              />
              <span>العربية</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
