<nav class="w-full bg-[#333333]">
  <div
    class="mx-auto flex max-w-8xl items-center justify-between text-[#b0b7bc]"
  >
    <div
      class="flex items-center gap-5 p-1 text-xs lg:p-2 lg:text-base xl:gap-8"
    >
      <span class="xl:p-2"
        >Welcome to Our store
        <span class="text-hover-color">Berryat</span></span
      >
      <div>
        <i class="ri-phone-fill mr-2 text-hover-color"></i>
        <span>Call Us: 123 - 456 - 7890</span>
      </div>
    </div>
  </div>
</nav>
