<div class="container mx-auto px-4 py-8">
  <!-- Cart Header -->
  <app-breadcrumb [soloRoute]="'cart.header' | translate"></app-breadcrumb>

  <!-- Cart Content -->

  <div *ngIf="cartItems.length === 0">
    <app-cart-no-products></app-cart-no-products>
  </div>

  <div
    *ngIf="cartItems.length > 0"
    class="mx-auto max-w-8xl overflow-hidden rounded-lg bg-white shadow-sm"
  >
    <!-- Cart Table Header - Hidden on mobile -->
    <div
      class="hidden grid-cols-6 gap-4 border-b bg-gray-100 p-4 text-sm font-bold text-gray-900 md:grid lg:text-base xl:text-xl"
    >
      <div class="pl-4">{{ "cart.tableHeader.image" | translate }}</div>
      <div>{{ "cart.tableHeader.productName" | translate }}</div>
      <div class="text-center">{{ "cart.tableHeader.price" | translate }}</div>
      <div class="text-center">
        {{ "cart.tableHeader.quantity" | translate }}
      </div>
      <div class="text-center">{{ "cart.tableHeader.total" | translate }}</div>
      <div class="text-center">{{ "cart.tableHeader.action" | translate }}</div>
    </div>

    <!-- Cart Items -->
    <div *ngFor="let item of cartItems" class="border-b p-4">
      <!-- Mobile View -->
      <div class="md:hidden">
        <div class="flex items-center justify-between">
          <div class="flex items-center gap-4">
            <img
              [src]="getFullImageUrl(item.image)"
              alt="{{ getLocalizedText(item.name) }}"
              class="h-16 w-16 object-cover"
            />
            <div>
              <h3 class="font-medium text-gray-800">
                {{ getLocalizedText(item.name) }}
              </h3>
              <div class="mt-1">
                <ng-container
                  *ngIf="
                    item.afterPrice !== item.beforePrice;
                    else regularPriceMobile
                  "
                >
                  <span class="font-bold text-gray-900">
                    {{ getLocalizedText(item.currency) }}
                    {{ item.afterPrice.toFixed(2) }}</span
                  >
                  <span class="text-sm text-special-gray line-through"
                    >{{ getLocalizedText(item.currency) }}
                    {{ item.beforePrice.toFixed(2) }}</span
                  >
                </ng-container>
                <ng-template #regularPriceMobile>
                  <span class="font-bold text-gray-900">
                    {{ getLocalizedText(item.currency) }}
                    {{ item.afterPrice.toFixed(2) }}</span
                  >
                </ng-template>
              </div>
              <div
                class="text-sm font-bold text-hover-color"
                *ngIf="item.afterPrice !== item.beforePrice"
              >
                {{ "cart.mobileView.save" | translate }}:
                {{ getSavings(item).toFixed(2) }}
              </div>
            </div>
          </div>
          <button
            class="text-hover-color hover:text-red-700"
            id="mobile-cart-remove-item-{{ item.productId }}"
            (click)="removeItem(item.productId)"
          >
            <i class="ri-close-line text-2xl"></i>
          </button>
        </div>
        <div class="mt-4 flex items-center justify-between">
          <div class="flex items-center rounded-md border">
            <button
              class="bg-hover-color px-3 py-1 text-white hover:bg-red-700"
              id="mobile-cart-decrease-quantity-{{ item.productId }}"
              (click)="updateQuantity(item.productId, item.quantity - 1)"
            >
              <i class="ri-subtract-line"></i>
            </button>
            <input
              type="text"
              id="mobile-cart-quantity-{{ item.productId }}"
              [value]="item.quantity"
              class="w-10 border-none bg-white text-center focus:outline-none"
              readonly
            />
            <button
              class="bg-hover-color px-3 py-1 text-white hover:bg-red-700"
              (click)="updateQuantity(item.productId, item.quantity + 1)"
              id="mobile-cart-increase-quantity-{{ item.productId }}"
            >
              <i class="ri-add-line"></i>
            </button>
          </div>
          <div class="font-bold text-hover-color">
            {{ getLocalizedText(item.currency) }}
            {{ getItemTotal(item).toFixed(2) }}
          </div>
        </div>
      </div>

      <!-- Desktop View -->
      <div class="hidden grid-cols-6 items-center gap-4 md:grid">
        <!-- Product Image -->
        <div class="col-span-1">
          <img
            [src]="getFullImageUrl(item.image)"
            alt="{{ getLocalizedText(item.name) }}"
            class="h-20 w-20 object-cover"
          />
        </div>

        <!-- Product Name -->
        <div class="col-span-1">
          <h3 class="font-medium text-gray-800">
            {{ getLocalizedText(item.name) }}
          </h3>
        </div>

        <!-- Price -->
        <div class="col-span-1 text-center">
          <ng-container
            *ngIf="item.afterPrice !== item.beforePrice; else regularPrice"
          >
            <span class="font-bold text-gray-900">
              {{ getLocalizedText(item.currency) }}
              {{ item.afterPrice.toFixed(2) }}
            </span>
            <span class="text-sm text-special-gray line-through"
              >{{ getLocalizedText(item.currency) }}
              {{ item.beforePrice.toFixed(2) }}</span
            >
            <div class="text-base font-bold text-hover-color xl:text-lg">
              {{ "cart.desktopView.youSave" | translate }}:
              {{ getLocalizedText(item.currency) }}
              {{ getSavings(item).toFixed(2) }}
            </div>
          </ng-container>
          <ng-template #regularPrice>
            <span class="font-bold text-gray-900"
              >{{ "common.currency" | translate }}
              {{ item.afterPrice.toFixed(2) }}</span
            >
          </ng-template>
        </div>

        <!-- Quantity -->
        <div class="col-span-1 flex items-center justify-center text-center">
          <div class="flex items-center rounded-md border">
            <button
              class="bg-hover-color px-3 py-1 text-white hover:bg-red-700"
              (click)="updateQuantity(item.productId, item.quantity - 1)"
              id="desktop-cart-decrease-quantity-{{ item.productId }}"
            >
              <i class="ri-subtract-line"></i>
            </button>
            <input
              type="text"
              id="desktop-cart-quantity-{{ item.productId }}"
              [value]="item.quantity"
              class="w-10 border-none bg-white text-center focus:outline-none"
              readonly
            />
            <button
              class="bg-hover-color px-3 py-1 text-white hover:bg-red-700"
              (click)="updateQuantity(item.productId, item.quantity + 1)"
              id="desktop-cart-increase-quantity-{{ item.productId }}"
            >
              <i class="ri-add-line"></i>
            </button>
          </div>
        </div>

        <!-- Total -->
        <div class="col-span-1 text-center">
          <div class="text-lg font-bold text-hover-color">
            {{ getLocalizedCurrency() }}
            {{ getItemTotal(item).toFixed(2) }}
          </div>
        </div>

        <!-- Action -->
        <div class="col-span-1 text-center">
          <button
            class="bg-gray-200 px-1 text-hover-color hover:text-red-700"
            (click)="removeItem(item.productId)"
            id="desktop-cart-remove-item-{{ item.productId }}"
          >
            <i class="ri-close-line text-2xl"></i>
          </button>
        </div>
      </div>
    </div>

    <!-- Cart Summary -->
    <div class="flex justify-end border-b p-4">
      <div class="text-right">
        <div class="flex items-center justify-end gap-2 font-medium">
          <span>{{ "cart.cartSummary.totalPrice" | translate }}</span>
          <span class="text-xl font-bold text-hover-color">
            {{ getLocalizedCurrency() }} {{ getCartTotal().toFixed(2) }}</span
          >
        </div>
      </div>
    </div>

    <!-- Cart Actions -->
    <div class="flex flex-col gap-4 p-4 sm:flex-row sm:justify-between">
      <button
        class="hover:bg-hover-cotext-hover-color rounded bg-hover-color px-6 py-3 text-white transition"
        (click)="continueShopping()"
        id="cart-continue-shopping"
      >
        {{ "cart.cartActions.continueShopping" | translate }}
      </button>
      <button
        class="hover:bg-hover-cotext-hover-color rounded bg-hover-color px-6 py-3 text-white transition"
        (click)="handleCheckout()"
        id="cart-checkout"
      >
        {{ "cart.cartActions.checkout" | translate }}
      </button>
    </div>
  </div>

  <app-auth-modal
    [(visible)]="showAuthModal"
    (visibleChange)="showAuthModal = $event"
  ></app-auth-modal>
</div>
