/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light mode (default) */

:root {
  --primary-text: #212121;
  --secondary-text: #616161;
  --primary-purple: #8446b0;
  --body-bg-color: #fcfcfc;
  --hover-color: #a01a40;
}

body {
  background-color: var(--body-bg-color);
  width: 100%;
  color: var(--primary-text);
  font-family: "Montserrat", sans-serif;
}

[dir="rtl"] {
  text-align: right;
}

[dir="rtl"] .space-x-2 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-x-reverse: 1;
  margin-right: calc(0.5rem * var(--tw-space-x-reverse));
  margin-left: calc(0.5rem * calc(1 - var(--tw-space-x-reverse)));
}

[dir="rtl"] .flex-row {
  flex-direction: row-reverse;
}

body.rtl {
  direction: rtl;
  text-align: right;
}

body.rtl .ml-3 {
  margin-left: 0;
  margin-right: 0.75rem;
}

body.rtl .mr-5 {
  margin-right: 0;
  margin-left: 1.25rem;
}

body.rtl .mr-2 {
  margin-right: 0;
  margin-left: 0.5rem;
}

body.rtl .ltr-only {
  display: none;
}

body:not(.rtl) .rtl-only {
  display: none;
}

body.rtl .mobile-menu {
  left: auto;
  right: 0;
}

body.rtl .mobile-menu.translate-x-0 {
  transform: translateX(0);
}

body.rtl .mobile-menu.-translate-x-full {
  transform: translateX(100%);
}

body.rtl .text-left {
  text-align: right;
}

body.rtl .right-4 {
  right: auto;
  left: 1rem;
}

html,
body {
  height: 100%;
}

/* Add this to your global styles */
.black-text-toast .p-toast-message-content {
  color: black !important;
}

.black-text-toast .p-toast-summary {
  color: black !important;
  font-weight: bold !important;
}

.black-text-toast .p-toast-detail {
  color: black !important;
}

/* Product card limited time offer animation */
@keyframes slide-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.limited-time-wrapper {
  animation: slide-left 5s linear infinite;
  -webkit-animation: slide-left 5s linear infinite;
  -moz-animation: slide-left 5s linear infinite;
  -o-animation: slide-left 5s linear infinite;
}
