/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Light mode (default) */

:root {
  --text-color: #22060e;
  --body-bg-color: #fafaf2;
  --hover-color: #a01a40;
}

/* Use gocare class instead of dark-mode */
.gocare {
  --text-color: #f5e6e9;
  --body-bg-color: #1a0912;
  --hover-color: #e05676;
}

body {
  background-color: var(--body-bg-color);
  width: 100%;
  color: var(--text-color);
  font-family: "Montserrat", sans-serif;
}
